* {
    box-sizing: border-box;
}

.separador {
    width: 75%;
    margin: 10px;
}

a:hover {
    color: #C5C1C1;
}

nav {
    background-color: white;
}

.fondo-card {
    background-image: url('../assets/images/grupo1.jpg');
    background-size: 100%;
}

.lead {
    color: white;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: white;
    text-decoration: none;
    background-color: #882287;
}

.btn {
    color: white;
    background-color: #882287;
}

.morado-text {
    color: #882287;
}

.subtitulo {
    margin-left: 20px;
    color: #882287;
}

.letter-one {
    margin: 3% 5%;
    font-size: 12px;
    border: #882287;
    border-style: solid;
}

.letter-one .morado-text  {
    margin-bottom: 2px;
    margin-top: 15px;

}

#photo-hero{
    margin-top: 17%;
}

#malla {
    width: 30%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #logo1 {
        width: 25%;
    }
    #logo2 {
        width: 20%;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #photo-hero{
        margin-top: 5%;
    }
    
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .logo-empresa {
        width: 50%;
    }
}

