* {
    box-sizing: border-box;
    font-family: 'Caecilia LT Std';
}

body {
    color: #000000;
}

a {
    color: #ffffff;
}

a:hover {
    color: #ffffff;
}

footer h2 {
    font-family: 'Gotham Rounded';
}

h2 {
    color: #ffffff;
    font-family: 'Gotham Rounded';
    font-size: 1.5rem;
}

h3.text1 {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: #ffffff;
    background-color: #862683;
}

h3.text2 {
    position: absolute;
    bottom: 32px;
    left: 16px;
    color: #ffffff;
    background-color: #862683;
}

nav {
    background-color: white;
}

p.text2 {
    position: absolute;
    bottom: 3px;
    left: 16px;
    color: #ffffff;
    background-color: #862683;
}

ul {
    list-style: none;
}

ul li {
    display: inline;
}

/*clases home*/
.btn {
    color: white;
    background-color: #862683;
}

.fondo-tittle {
    background-color: #862683;
}

#morado {
    color: #862683;
}

.card-text, .card-title {
    color: #862683;
}

/*clases estereotipa y futura*/
.btn-estereotipa {
    color: white;
    background-color: #2CBBA7;
}

#marron {
    color: #4f3f39;
}
.marron {
    color: #4f3f39;
}

.verde {
    color: #2CBBA7;
}

#introjumbo {
    color: #4f3f39;
    margin-left: 40%;
}
.fondo-tittle-estereotipa {
    background-color: #2CBBA7;
}

/*clases disruptores*/

.btn-disruptores {
    color: white;
    background-color: #eb2c90;
}


/*.circle-malla {
    width: 111px;
    height: 111px;
    -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #862683;
}*/

.dropdown-item:focus,
.dropdown-item:hover {
    color: white;
    text-decoration: none;
    background-color: #862683;
}

.fa-facebook-square,
.fa-instagram {
    color: #ffffff;
}

.fondo-card {
    background-image: url('../assets/images/grupo1.jpg');
    background-size: 100%;
}

.lead {
    color: white;
}

.letter-one {
    margin: 3% 5%;
    font-size: 10px;
    border: #862683;
    border-style: solid;
}

.letter-one .morado-text {
    margin-bottom: 2px;
    margin-top: 15px;
}

.margin1 {
    color: #862683;
    font-size: 15px;
}

.margen-top1 {
    margin-top: 34%;
}

.morado-text {
    color: #862683;
    margin: 10px;
    font-size: 15px;
}

.subtitulo {
    margin-left: 20px;
    color: #ffffff;
}

#convenio {
    width: 15%;
}

#foto-modal {
    width: 100%;
}

.jumbotron {
    background-image: url('../assets/images/estereotipa/Estereotipa-portada1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron2 {
    background-image: url('../assets/images/foto1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 185px;
}


.navbar-light .navbar-brand {
    color: #fff;
}

h4 {
    margin-top: 12px;
    margin-left: 25px;
}

.pmargin-left {
    margin-left: 10px;
    width: 95%;
}

.font-1 {
    font-size: 26px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #logo1 {
        width: 20%;
        margin-left: 4%;
    }

    #logo2 {
        width: 20%;
    }

    #logo3 {
        width: 60%;
    }

    #photo-hero {
        margin-top: 19%;
    }

    .jumbotron1 {
        height: 248px;
    }

    .margin-left {
        margin-left: 6%;
    }

    .jumbotron2 {
        height: 242px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {
    #photo-hero {
        margin-top: 17%;
    }

    .margin-left {
        margin-left: 5.5%;
    }

    .jumbotron1 {
        height: 186px;
    }

    #logo1 {
        width: 20%;
        margin-left: 4%;
    }

    #logo2 {
        width: 20%;
    }

    .jumbotron2 {
        height: 245px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #photo-hero {
        margin-top: 11%;
    }

    #logo1 {
        width: 12%;
    }

    #logo2 {
        width: 15%;
    }

    .jumbotron1 {
        height: 450px;
    }

    .font-1 {
        font-size: 26px;
    }

    .jumbotron2 {
        height: 440px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #photo-hero {
        margin-top: 7%;
    }

    #logo1 {
        width: 8%;
    }

    #logo2 {
        width: 10%;
    }

    .margen-top {
        margin-top: 7%;
    }

    .jumbotron {
        height: 455px;
    }

    .font-1 {
        font-size: 26px;
    }

    .jumbotron2 {
        height: 585px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .logo-empresa {
        width: 50%;
    }

    #photo-hero {
        margin-top: 4%;
    }

    #logo1 {
        width: 6%;
    }

    #logo2 {
        width: 5%;
    }

    .margen-top {
        margin-top: 5%;
    }

    .jumbotron {
        height: 560px;
    }

    .font-1 {
        font-size: 31px;
    }

    .jumbotron2 {
        height: 825px;
    }

}

/* Extra large devices (large laptops and desktops, 1439px and up) */
@media only screen and (min-width: 1439px) {
    .logo-empresa {
        width: 50%;
    }

    #photo-hero {
        margin-top: 4%;
    }

    #logo1 {
        width: 6%;
    }

    #logo2 {
        width: 5%;
    }

    .margen-top {
        margin-top: 5%;
    }

    .jumbotron {
        height: 575px;
    }

    .jumbotron2 {
        height: 825px;
    }
}

/* Extra large devices (large laptops and desktops, 1800px and up) */
@media only screen and (min-width: 1800px) {
    .logo-empresa {
        width: 50%;
    }

    #photo-hero {
        margin-top: 4%;
    }

    #logo1 {
        width: 6%;
    }

    #logo2 {
        width: 5%;
    }

    .margen-top {
        margin-top: 5%;
    }

    .jumbotron {
        height: 765px;
    }
}

/* Extra large devices (large laptops and desktops, 2500px and up) */
@media only screen and (min-width: 2500px) {
    .logo-empresa {
        width: 50%;
    }

    #photo-hero {
        margin-top: 4%;
    }

    #logo1 {
        width: 6%;
    }

    #logo2 {
        width: 5%;
    }

    .margen-top {
        margin-top: 15%;
    }

    .jumbotron {
        height: 1028px;
    }

    .font-1 {
        font-size: 50px;

    }

    .jumbotron2 {
        height: 1450px;
    }

}

/* Extra large devices (large laptops and desktops, 3000px and up) */
@media only screen and (min-width: 3000px) {
    .logo-empresa {
        width: 50%;
    }

    #photo-hero {
        margin-top: 4%;
    }

    #logo1 {
        width: 6%;
    }

    #logo2 {
        width: 5%;
    }

    .margen-top {
        margin-top: 15%;
    }

    .jumbotron {
        height: 1250px;
    }

    .font-1 {
        font-size: 50px;

    }

    .jumbotron2 {
        height: 1840px;
    }

}

.section {
    margin-top: 40px;
}

.card {
    margin: 10px 4px;
    transition: .6s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-block {
    padding: 10px;
}

.scrollcards {
    background-color: #fff;
    overflow: auto;
    white-space: nowrap;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

div.scrollcards .card {
    display: inline-block;
    padding: 14px;
    text-decoration: none;
    height: auto;
    width: 180px;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

div.scrollcards .card-horizontal {
    display: inline;
    padding: 14px;
    text-decoration: none;
    height: auto;
    width: 180px;
}

.btn-link:hover {
    color: #fff;
}

.accordion>.card .card-header {
    margin-bottom: 0px;
}

div.scrollcards1 .card-horizontal1 {
    display: inline;
    padding: 14px;
    text-decoration: none;
    height: auto;
    width: 180px;
}

.scrollcards1 {
    background-color: #fff;
    overflow: auto;
    white-space: nowrap;
}

div.scrollcards1 .card {
    display: inline-block;
    padding: 14px;
    text-decoration: none;
    height: auto;
    width: 390px;
}

.card-horizontal1 {
    display: flex;
    flex: 1 1 auto;
}

#contexto {
    margin-top: 10%;
    width: 90%;
}

/*.bg-light {
    background-color: #862683 !important;
}*/

.card-img-top {
    width: 92%;
    margin-left: 4%;
}

.text-center {
    margin-top: 2%;
}


a[href^=tel] {
    color: #000000;
    text-decoration: none;
}

.nav-margin {
    margin-top: 40px;
}

.margin-text-morado {
    color: #862683;
    margin: 1.5%;
    text-align: start;
}