@font-face {
    font-family: 'bebas_neueregular';
    src: url('bebasneue-webfont.woff2') format('woff2'),
         url('bebasneue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lunaregular';
    src: url('luna-webfont.woff2') format('woff2'),
         url('luna-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'third_rail_-_demoregular';
    src: url('third_rail_-_demo-webfont.woff2') format('woff2'),
         url('third_rail_-_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeue LT 55 Roman';
    src: url('HelveticaNeueLT-Bold.woff2') format('woff2'),
        url('HelveticaNeueLT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue LT 45';
    src: url('HelveticaNeueLT-Light.woff2') format('woff2'),
        url('HelveticaNeueLT-Light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Caecilia LT Std';
    src: url('CaeciliaLTStd-Bold.woff2') format('woff2'),
        url('CaeciliaLTStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('GothamRounded-Bold.woff2') format('woff2'),
        url('GothamRounded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

