<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name='format-detection' value='telephone=no'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../assets/fonts/stylesheet.css">
    <title>La Estereotipa</title>
    <link rel="icon" href="../assets/icons/MEI@3x.ico">
</head>

<body>
    <!-- inicio de chatbot messenger-watson-->
    <!-- Load Facebook SDK for JavaScript -->
    <!-- <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v3.2'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

     Your customer chat code -->
    <!-- <div class="fb-customerchat" attribution=setup_tool page_id="227919864608288" theme_color="#862683"
        logged_in_greeting="¿Cómo te podemos ayudar?"
        logged_out_greeting="Bienvenido a la Carrera de Marketing e Innovación. ¿Cómo te podemos ayudar?">
    </div>
    fin de chatbot messenger-watson -->

    <nav class="navbar navbar-light sticky-top d-xl-none d-lg-none">
        <div class="dropdown show ">
            <a class="btn btn-estereotipa" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"><i class="fas fa-bars fa-lg"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#sucediendo">¿Qué ha estado sucediendo?</a>
                <a class="dropdown-item" href="#que">¿Qué es La Estereotipa?</a>
                <a class="dropdown-item" href="#como">¿Cómo funciona?</a>
                <a class="dropdown-item" href="#detalle">Detalles del Workshop</a>
                <a class="dropdown-item" href="#creo">¿Cómo se creó La Estereotipa?</a>
                <a class="dropdown-item" href="#impacto">El Impacto</a>
                <a class="dropdown-item" href="#contacto">Contáctanos</a>
            </div>
        </div>
        <a id='logo1' href="../index.html"><img class='img-fluid' src="../assets/images/logos/facultad-verde.png"
                alt=""></a>
        <a id='logo2' href=""><img class='img-fluid' src="../assets/images/logos/ucal-verde.png" max-width="100%"
                height="auto" alt=""></a>
    </nav>
    <nav class="d-none d-xl-block d-lg-block">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="../index.html"><img width="101px"
                        src="../assets/images/logos/facultad-verde.png" alt=""></a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-margin verde" href="#sucediendo1">¿Qué ha estado sucediendo?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-margin verde" href="#que1">¿Qué es La Estereotipa?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-margin verde" href="#como">¿Cómo funciona?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-margin verde" href="#detalle">Detalles del Workshop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-margin verde" href="#impacto">El Impacto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-margin verde" href="#contacto">Contáctanos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../index.html"><img height="74px"
                        src="../assets/images/logos/ucal-texto-verde.png" alt=""></a>
            </li>
        </ul>
    </nav>

    <section class="d-xl-none d-lg-none">
        <!--Mobile version-->
        <img class="img-fluid" src="../assets/images/estereotipa/Estereotipa-mobile.png" alt="">
        <br>
        <div class="" id="contexto">
            <p class="text-center margin-left" id="marron">ELLA HA SIDO PRESENTADA COMO UN SER QUE NO ES Y CON
                ASPIRACIONES QUE NO
                TIENE, LA HAN ENCERRADO EN UN CUADRO QUE PARECE NO TENER SALIDA. <br></p>
            <p class="text-center margin-left" id="marron">TÚ PUEDES CAMBIAR ESO.</p>
        </div>

        <br>
        <div class="accordion" id="accordionExample">
            <div class="card" id="sucediendo">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-estereotipa" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">¿Qué ha estado sucediendo?</button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body" id="marron">La publicidad, los medios de comunicación y las marcas han venido
                        reproduciendo nociones de masculinidad y femineidad representadas en estructuras rígidas que
                        delimitan espacios y roles. <br>
                        El problema se encuentra en la formación y asimilación de estereotipos de género y de la
                        simplificación de individuos complejos en tipos inflexibles con la intención de lograr
                        generalizaciones colectivas para el beneficio comercial. Pero no es tarde para empezar a
                        reflexionar sobre ello. <br>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-estereotipa" type="button" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="true" aria-controls="collapseTwo">¿Qué es La Estereotipa?</button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body" id="marron">Es un experimento que estimula la creación de estrategias de
                        marketing alternativas mediante la deconstrucción de roles y
                        estereotipos de género en la publicidad, que aporten a mejorar la
                        equidad en nuestra sociedad.
                    </div>
                    <img class="card-img-top" src="../assets/images/estereotipa/for-you-guys3.jpg" alt="">
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed btn-estereotipa" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">¿Cómo
                            funciona?</button> 
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body" id="marron">El participante ingresa a un workshop con simulaciones de diferentes
                        ambientes (casa, calle y oficina). Empieza
                        explorando ciertas imágenes y textos, e interactuando con ciertos objetos, para luego
                        reflexionar de manera grupal
                        sobre estos. A continuación, desarrolla de forma ágil estrategias de marketing alternativas y
                        finalmente las
                        comparte con todos.
                    </div>
                    <img class="card-img-top" src="../assets/images/estereotipa/panorámica2.jpg" height="265px" alt="">
                    <br>
                    <nav id="navbar-example2" class="navbar navbar-light btn-estereotipa margen-top ">
                        <a class="navbar-brand" href="#">Proceso</a>
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link" href="#uno">1</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#dos">2</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tres">3</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#cuatro">4</a>
                            </li>
                        </ul>
                    </nav>
                    <br>
                    <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
                        <h4 id="uno" class="marron"> 1. Explora</h4>
                        <p class="pmargin-left" id="marron">Los participantes exploran los
                            espacios simulados, los
                            detalles de productos en una cocina, en la refrigeradora,
                            en la alacena, y en otros muebles. También recorren una
                            simulación de un paradero en la calle observando
                            imágenes publicitarias, finalmente ingresan a una
                            simulación de una oficina con organigramas, y otros
                            datos cotidianos.</p>
                        <img class=" card-img-top" src="../assets/images/estereotipa/IMG_1887.jpg">
                        <br>
                        <h4 id="dos" class="marron"> 2. Reflexiona</h4>
                        <p class="pmargin-left" id="marron">Luego de la observación, los
                            participantes colocan
                            anotaciones en los espacios y objetos que les llamaron la
                            atención y explican el motivo. Una ronda de preguntas
                            es moderada por un facilitador para profundizar en
                            ciertos hallazgos. Bajo un proceso de deconstrucción se
                            visibilizan elementos aparentemente rígidos para ser
                            flexibilizados.</p>
                        <img class="card-img-top" src="../assets/images/estereotipa/20181025_142853.jpg">
                        <br>
                        <h4 id="tres" class="marron"> 3. Desarrolla</h4>
                        <p class="pmargin-left marron">Los participantes organizados en
                            equipos construyen
                            una propuesta alternativa a las típicas del mercado,
                            puede ser una campaña de comunicación, un empaque
                            interactivo, un nuevo producto, el relanzamiento de un
                            servicio, un negocio digital, etc.</p>
                        <img class="card-img-top" src="../assets/images/estereotipa/20180926_143420.jpg">
                        <br>
                        <h4 id="cuatro" class="marron"> 4. Comparte</h4>
                        <p class="pmargin-left marron">Finalmente cada equipo presenta y
                            comparte su solución
                            al resto de los participantes, donde reciben
                            retroalimentación, y se genera una conversación para
                            detectar oportunidades adicionales. Se cierra con las
                            conclusiones de los aprendizajes y resultados.</p>
                        <img class="card-img-top" src="../assets/images/estereotipa/IMG_1966.jpg">
                        <br>
                    </div>
                    <br>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed btn-estereotipa" type="button" data-toggle="collapse"
                            data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Detalles
                            del Workshop</button>
                    </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body marron">• Participan de 10 a 20 personas. <br>
                        • Puede ser una sesión de 4 horas o full day de 8 horas. <br>
                        • Se requiere de ½ hora para instalar el espacio si
                        es fuera de UCAL. <br>
                        • Los espacios simulados se adaptan a la mayoría de
                        ambientes fuera de UCAL. <br>
                        • Incluye materiales de exploración e ideación. <br>
                        • Se registra de forma audiovisual para posterior
                        análisis y difusión de ser requerido. <br>
                        • Es facilitado por 1 especialista y 1 asistente de
                        producción.</div>
                    <img class="card-img-top" src="../assets/images/estereotipa/IMG_1908.jpg" height="240px" alt="">
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed btn-estereotipa" type="button" data-toggle="collapse"
                            data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">¿Cómo se creó
                            La Estereotipa?</button>
                    </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body marron">El experimento “La Estereotipa”, ha sido creado e impulsado por
                        la facultad
                        de Negocios e Innovación de la
                        universidad UCAL, en alianza y colaboración con la asociación de comunicadores sociales
                        Calandria, quienes tienen
                        más de 30 años de experiencia en temas como medios de comunicación, culturas juveniles, género,
                        etc. Fueron
                        varias reuniones, talleres y pruebas hasta llegar a una propuesta detallada y concreta. <br>
                    </div>
                    <img class="img-fluid margin-left" id="logo3" src="../assets/images/estereotipa/logo-35-años.png"
                        alt="">
                    <img class="card-img-top" src="../assets/images/estereotipa/IMG-20180807-WA0128.jpg" height="270px"
                        alt="">

                </div>
            </div>
            <div class="card" id="impacto">
                <div class="card-header" id="headingSix">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed btn-estereotipa" type="button" data-toggle="collapse"
                            data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">El
                            Impacto</button>
                    </h2>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                    <div class="card-body marron">Este experimento fue creado inicialmente para insertarse
                        en los cursos de la Carrera de Marketing e Innovación
                        donde todos los estudiantes ya lo han vivido. <br>
                        Sin embargo, a solicitud de diversos psicopedagogos y
                        profesores se ha podido llevar a cabo en más de 20 colegios
                        en Lima, en distritos como Ate, Santiago de Surco,
                        Magdalena, Chorrillos, Surquillo, La Molina, Miraflores, etc.
                        participando más de 400 estudiantes y 60 profesores de
                        dichas escuelas solo entre Setiembre y Noviembre del 2018,
                        con resultados realmente interesantes. <br>
                        Actualmente, estamos recibiendo solicitudes para
                        realizarlo en empresas y otras instituciones públicas y
                        privadas.</div>
                    <img class="img-fluid" width="362px"
                        src="../assets/images/estereotipa/20181025_150407_2.jpg" alt="">
                </div>
            </div>
            <div class="card" id="contacto">
                <div class="card-header" id="headingSeven">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed btn-estereotipa" type="button" data-toggle="collapse"
                            data-target="#collapseSeven" aria-expanded="false"
                            aria-controls="collapseSeven">Contacto</button>
                    </h2>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                    <div class="card-body marron">
                        <p> • Contacto: Deborah Plasencia</p>
                        <p> • Email: dplasencia@ucal.edu.pe</p>
                        <p> • Telf: (01) 622-2222 Anexo: 5522 </p>
                        <p> • Campus: Av. La Molina 3755. Lima, Perú.</p>
                        <img class="img-fluid" id="logo1" src="../assets/images/logos/ucal-texto-verde.png"
                            alt="">
                        <img class="img-fluid" id="logo2" src="../assets/images/logos/facultad-verde.png" alt="">
                    </div>
                </div>
            </div>
    </section>
    <!--End mobile version - Content-->
    <!--Desktop version - Content-->
    <!--<section class="d-none d-lg-block d-xl-block">
        <div class="jumbotron">
            <div id="introjumbo">
                <p class="text-center font-1">ELLA HA SIDO PRESENTADA COMO UN SER QUE NO ES Y CON ASPIRACIONES QUE NO
                    TIENE, LA HAN ENCERRADO EN UN CUADRO QUE PARECE NO TENER SALIDA.</p>
                <br>
                <p class="text-center font-1">TÚ PUEDES CAMBIAR ESO.</p>
            </div>
        </div>
        <img src="../assets/images/estereotipa/images-ppt/La Estereotipa UCAL_Página_02.png" width="100%" alt="">
        <img src="../assets/images/estereotipa/images-ppt/La Estereotipa UCAL_Página_03.png" width="100%" alt="">
        <img src="../assets/images/estereotipa/images-ppt/La Estereotipa UCAL_Página_04.png" width="100%" alt="">
        <img src="../assets/images/estereotipa/images-ppt/La Estereotipa UCAL_Página_05.png" width="100%" alt="">
        <img src="../assets/images/estereotipa/images-ppt/La Estereotipa UCAL_Página_06.png" width="100%" alt="">
        <img src="../assets/images/estereotipa/images-ppt/La Estereotipa UCAL_Página_07.png" width="100%" alt="">
        <img src="../assets/images/estereotipa/images-ppt/La Estereotipa UCAL_Página_08.png" width="100%" alt="">
        <img src="../assets/images/estereotipa/images-ppt/La Estereotipa UCAL_Página_09.png" width="100%" alt="">
        <img src="../assets/images/estereotipa/images-ppt/La Estereotipa UCAL_Página_10.png" width="100%" alt="">
    </section>-->
    <section class="d-none d-lg-block d-xl-block">
        <div class="jumbotron">
            <div id="introjumbo">
                <p class="text-center font-1">ELLA HA SIDO PRESENTADA COMO UN SER QUE NO ES Y CON ASPIRACIONES QUE NO
                    TIENE, LA HAN ENCERRADO EN UN CUADRO QUE PARECE NO TENER SALIDA.</p>
                <br>
                <p class="text-center font-1">TÚ PUEDES CAMBIAR ESO.</p>
            </div>
        </div>
        <div class="d-flex justify-content-center" id="sucediendo1">
            <h3 class="margin-text-morado">¿Qué ha estado sucediendo?</h3>
            <p class="margin-text-morado">Las nociones de masculinidad y femineidad a lo largo del tiempo han
                reproducido estructuras rígidas que
                delimitan espacios y roles. El problema se
                encuentra en la formación y asimilación de estereotipos de género y de la simplificación de individuos
                complejos en tipos inflexibles con la intención de
                lograr generalizaciones. Peor aún, se plantean dichas restricciones como ‘normales’ sobre cómo debería
                ser un hombre o una mujer, sin mayor
                reflexión.</p> <br>
            <p class="margin-text-morado">Los medios de comunicación, la publicidad y las estrategias de marketing
                impulsadas por las marcas
                tienen parte de responsabilidad, ya que operan
                dentro del espacio social como actores con poder propio que trasciende el plano económico, modelando
                imaginarios culturales. Algo tan
                aparentemente inocuo como el empaque de un producto, o un panel en la calle posee poder simbólico para
                reforzar e inscribir ideas, valores y
                prejuicios o facilitar la articulación de ‘sentidos comunes’.</p>
            <br>
            <p class="margin-text-morado">Sin embargo, ya no es tan sencillo usar elementos con ciertos contenidos
                sexistas. Últimamente hemos
                visto cómo varias marcas han tenido que retirar
                sus campañas en las que usaron figuras semidesnudas de una mujer con frases en doble sentido, o fueron
                criticadas por contar historias donde ella es
                la que lava o cocina para él. Se ha condensado la idea que la fórmula usada durante décadas – mujeres en
                bikini tratadas como objetos para llamar la
                atención – está en declive.
            </p>
        </div>
        <div class="d-flex justify-content-center" id="que1">
            <h3 class="margin-text-morado">¿Qué es La Estereotipa?</h3>
            <div class="margin-text-morado">
                <img src="../assets/images/estereotipa/Estereotipa-14.png" height="50px" alt="">
                <p class="margin-text-morado">Es un experimento que estimula la creación de estrategias de
                    marketing alternativas mediante la deconstrucción de roles y
                    estereotipos de género en la publicidad, que aporten a mejorar la
                    equidad en nuestra sociedad.
                </p>
            </div>
            <img class="margin-text-morado" src="../assets/images/estereotipa/for-you-guys3.jpg" height="500px" alt="">
            <img class="margin-text-morado" src="../assets/images/estereotipa/IMG-20180807-WA0018.jpg" height="500px"
                alt="">
        </div>
        <div class="d-flex justify-content-center" id="que1">
            <h3 class="margin-text-morado">¿Cómo funciona?</h3>
            <div class="margin-text-morado">
                <p class="margin-text-morado">El participante ingresa a un workshop con simulaciones de diferentes
                    ambientes (casa, calle y oficina). Empieza
                    explorando ciertas imágenes y textos, e interactuando con ciertos objetos, para luego
                    reflexionar de manera grupal
                    sobre estos. A continuación, desarrolla de forma ágil estrategias de marketing alternativas y
                    finalmente las
                    comparte con todos.
                </p>
            </div>
            <img class="margin-text-morado" src="../assets/images/estereotipa/panorámica1.jpg" height="300px" alt="">
        </div>
        <div class="d-flex justify-content-center margin-text-morado" id="que1">
            <div class="margin-text-morado">
                <h4>Explora</h4>
                <div>
                    <img src="../assets/images/estereotipa/for-you-guys3.jpg" height="500px" alt="">
                    <p>sobre estos. A continuación, desarrolla de forma ágil estrategias de
                        marketing alternativas y
                        finalmente las
                        comparte con todos.</p>
                </div>
            </div>
            <div class="margin-text-morado">
                <h4>Reflexiona</h4>
                <div>
                    <img src="../assets/images/estereotipa/for-you-guys3.jpg" height="500px" alt="">
                    <p class="">sobre estos. A continuación, desarrolla de forma ágil estrategias de
                        marketing alternativas y
                        finalmente las
                        comparte con todos.</p>
                </div>
            </div>
            <div class="margin-text-morado">
                <h4>Desarrolla</h4>
                <div>
                    <img src="../assets/images/estereotipa/for-you-guys3.jpg" height="500px" alt="">
                    <p class="">sobre estos. A continuación, desarrolla de forma ágil estrategias de
                        marketing alternativas y
                        finalmente las
                        comparte con todos.</p>
                </div>
            </div>
            <div class="margin-text-morado">
                <h4>Comparte</h4>
                <div>
                    <img src="../assets/images/estereotipa/for-you-guys3.jpg" height="500px" alt="">
                    <p class="">sobre estos. A continuación, desarrolla de forma ágil estrategias de
                        marketing alternativas y
                        finalmente las
                        comparte con todos.</p>
                </div>
            </div>

        </div>
        <div class="d-flex justify-content-center">
            <h3 class="margin-text-morado">Detalles del workshop</h3>
            <div class="margin-text-morado">• Participan de 10 a 20 personas. <br>
                • Puede ser una sesión de 4 horas o full day de 8 horas. <br>
                • Se requiere de ½ hora para instalar el espacio si
                es fuera de UCAL. <br>
                • Los espacios simulados se adaptan a la mayoría de
                ambientes fuera de UCAL. <br>
                • Incluye materiales de exploración e ideación. <br>
                • Se registra de forma audiovisual para posterior
                análisis y difusión de ser requerido. <br>
                • Es facilitado por 1 especialista y 1 asistente de
                producción.</div>
            <img class="margin-text-morado" src="../assets/images/estereotipa/IMG_1908.jpg" height="350px" alt="">
            <img class="margin-text-morado" src="../assets/images/estereotipa/IMG_1908.jpg" height="350px" alt="">
        </div>
        <div class="d-flex justify-content-center">
            <h3 class="margin-text-morado">¿Cómo se creó La Estereotipa?</h3>
            <div class="margin-text-morado">El experimento “La Estereotipa”, ha sido creado e impulsado por
                la facultad
                de Negocios e Innovación de la
                universidad UCAL, en alianza y colaboración con la asociación de comunicadores sociales
                Calandria, quienes tienen
                más de 30 años de experiencia en temas como medios de comunicación, culturas juveniles, género,
                etc. Fueron
                varias reuniones, talleres y pruebas hasta llegar a una propuesta detallada y concreta. </div>
            <img class="margin-text-morado" src="../assets/images/estereotipa/logo-35-años.png" height="350px" alt="">
            <img class="margin-text-morado" src="../assets/images/estereotipa/IMG_1908.jpg" height="350px" alt="">
        </div>
    </section>
    <!--End Desktop version - Content-->
    <br>
    <section>
        <div class="fondo-tittle-estereotipa " id="entrenar">
            <!--mobile-->
            <h2 class="text-center">Más experimentos</h2>
            <p class="subtitulo text-center">Conoce más dando click en cada uno de ellos</p>
        </div>
        <div class="container-fluid ">
            <div class="row">
                <div class="scrollcards">
                    <div class="card">
                        <a id="morado" href="life.html">
                            <img class="card-img-top" src="../assets/images/life/imagen-landing-final-06.png">
                            <!--<div class="card-block">
                            <h4 href="life.html" class="card-title">Card title</h4>
                            <p href="life.html" class="card-text">Text Here</p>
                        </div>-->
                        </a>
                    </div>
                    <div class="card">
                        <a id="morado" href="disruptores.html">
                            <img class="card-img-top" src="../assets/images/disruptores/afiche-disruptores-01.png">
                            <!--<div class="card-block">
                            <h4 href="disruptores.html" class="card-title">Card title</h4>
                            <p href="disruptores.html" class="card-text">Text Here</p>
                        </div>-->
                        </a>
                    </div>
                    <div class="card">
                        <a id="morado" href="futura.html">
                            <img class="card-img-top" src="../assets/images/futura/AFICHE FUTURA-IA1_opt.png">
                            <!--<div class="card-block">
                            <h4 href="futura.html" class="card-title">Card title</h4>
                            <p href="futura.html" class="card-text">Text Here</p>
                        </div>-->
                        </a>
                    </div>
                    <!--<div class="card">
                        <a id="morado" href="">
                            <img class="card-img-top" src="../assets/images/loncheras/afiches-landing_loncheras.jpg">
                            <div class="card-block">
                            <h4 href="loncheras.html" class="card-title">Card title</h4>
                            <p href="loncheras.html" class="card-text">Text Here</p>
                        </div>
                        </a>
                    </div>-->
                    <div class="card">
                        <a id="morado" href="estereotipa.html">
                            <img class="card-img-top"
                                src="../assets/images/estereotipa/afiches-landing_estereotipa.jpg">
                            <!--<div class="card-block">
                            <h4 href="estereotipa.html" class="card-title">Card title</h4>
                                <p href="estereotipa.html" class="card-text">Text Here</p>
                        </div>-->
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br>
    <!-- Footer -->
    <footer class="page-footer fondo-tittle-estereotipa">
        <!-- Footer Elements -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-left">Contáctanos</h2>
                    <ul>
                        <li><a target="_blank"
                                href="https://www.facebook.com/Carrera-de-Marketing-e-Innovaci%C3%B3n-UCAL-227919864608288/"
                                data-toggle="tooltip" data-placement="top" title="Participa en Facebook"><i
                                    class="fab fa-facebook-square fa-2x"></i></a></li>
                        <li><a target="_blank" href="https://www.instagram.com/marketing.innovacion/"
                                data-toggle="tooltip" data-placement="top" title="Síguenos en Instagram"><i
                                    class="fab fa-instagram fa-2x"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">© 2019 Copyright: <a target="_blank"
                href="http://ucal.edu.pe/facultades/facultad-negocios-e-innovacion/marketing-e-innovacion/informacion-general">Marketing
                e Innovación</a>
        </div><!-- Copyright -->
    </footer><!-- Footer -->


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="../js/app.js"></script>
</body>

</html>