<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name='format-detection' value='telephone=no'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../assets/fonts/stylesheet.css">
    <title>Life</title>
    <link rel="icon" href="../assets/icons/MEI@3x.ico">
</head>

<body>
    <!-- inicio de chatbot messenger-watson-->
    <!-- Load Facebook SDK for JavaScript -->
    <!-- <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v3.2'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

     Your customer chat code -->
    <!-- <div class="fb-customerchat" attribution=setup_tool page_id="227919864608288" theme_color="#862683"
        logged_in_greeting="¿Cómo te podemos ayudar?"
        logged_out_greeting="Bienvenido a la Carrera de Marketing e Innovación. ¿Cómo te podemos ayudar?">
    </div>
    fin de chatbot messenger-watson -->

    <nav class="navbar navbar-light sticky-top d-xl-none d-lg-none">
        <div class="dropdown show ">
            <a class="btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"><i class="fas fa-bars fa-lg"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#que">¿Qué es Life?</a>
                <a class="dropdown-item" href="#como">¿Cómo funciona?</a>
                <a class="dropdown-item" href="#detalle">Detalles del Workshop</a>
                <a class="dropdown-item" href="#contacto">Contáctanos</a>
            </div>
        </div>
        <a id='logo1' href="../index.html"><img class='img-fluid' src="../assets/images/logos/facultad-morado.png"
                alt=""></a>
        <a id='logo2' href=""><img class='img-fluid' src="../assets/images/logos/ucal-morado.png" max-width="100%"
                height="auto" alt=""></a>
    </nav>
    <nav class="d-none d-xl-block d-lg-block">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="../index.html"><img width="101px"
                        src="../assets/images/logos/facultad-morado.png" alt=""></a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-morado" href="#que">¿Qué es Life?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-morado" href="#como">¿Cómo funciona?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-morado" href="#detalle">Detalles del Workshop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-morado" href="#contacto">Contáctanos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../index.html"><img height="74px"
                        src="../assets/images/logos/ucal-morado.png" alt=""></a>
            </li>
        </ul>
    </nav>
    <section class="d-xl-none d-lg-none">
        <!--Mobile version-->
        <img class="img-fluid" src="../assets/images/life/imagen-landing-final-06_opt.png" alt="">
        <br>
        <div class="contexto" id="que" id="contexto">
            <p class=" text-center">Algunos sucesos han ocurrido hoy en la casa de Pedro y
                Susana... </p>
            <p class=" text-center">Ciertos objetos que aparentan ser cotidianos encierran significados ocultos
                que podrían
                despertar poderes creativos.</p>
            <p class=" text-center">¿Te atreves a encontrarlos?</p>
        </div>

        <br>
        <div class="accordion" id="accordionExample">
            <div id="como" class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="true" aria-controls="collapseTwo">¿Qué es Life?</button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">Es un experimento que promueve la detección y construcción de Insights de las
                        personas, mediante la observación profunda de la cotidianeidad en un ambiente simulado de
                        realidad virtual, desarrollando la curiosidad y la atención al detalle para producir soluciones
                        creativas.
                        <img src="../assets/images/life/Life-slider-05.jpg" width="100%" alt="">
                    </div>
                    
                </div>
            </div>
            <div id="detalle" class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">¿Cómo
                            funciona?</button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">El participante ingresa a un workshop y explora los diferentes espacios de
                        una casa en realidad virtual con el visor
                        VIVE de HTC. Interactúa con algunos objetos que contienen textos ocultos, y profundiza en las
                        motivaciones,
                        creencias y conflictos de las personas para luego reflexionar con su equipo. Seguidamente,
                        construye Insights y
                        lineamientos que le ayudan a desarrollar de forma ágil una solución creativa, la que comparte
                        con todos.
                    </div>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="../assets/images/life/Life - Video-final.mp4"
                            allowfullscreen></iframe>
                    </div>
                    <br>
                    <nav id="navbar-example2" class="navbar navbar-light margen-top fondo-tittle">
                        <a class="navbar-brand" href="#">Proceso</a>
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link" href="#uno">1</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#dos">2</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tres">3</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#cuatro">4</a>
                            </li>
                        </ul>
                    </nav>
                    <br>
                    <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
                        <h4 id="uno"> 1. Explora</h4>
                        <p class="pmargin-left">El participante conectado con su equipo observa y busca
                            datos ocultos en la casa de realidad virtual, significados,
                            frustraciones, necesidades profundas. Su equipo anota
                            todo lo que va descubriendo.</p>
                        <img class=" card-img-top" src="../assets/images/life/VR1.png">
                        <br>
                        <h4 id="dos"> 2. Reflexiona</h4>
                        <p class="pmargin-left">Luego de la observación, los participantes colocan anotaciones en un
                            lienzo para estructurar los Insights y oportunidades de solución de las diferentes
                            situaciones exploradas.</p>
                        <img class="card-img-top" src="../assets/images/life/cena.png">
                        <br>
                        <h4 id="tres"> 3. Desarrolla</h4>
                        <p class="pmargin-left">Los equipos construyen un prototipo de solución ante el problema
                            encontrado y usa el insight como guía para la nueva propuesta. Utilizan materiales de
                            prototipado rápido.</p>
                        <img class="card-img-top" src="../assets/images/life/tablero.jpg">
                        <br>
                        <h4 id="cuatro"> 4. Comparte</h4>
                        <p class="pmargin-left">Finalmente cada equipo presenta y comparte su solución creativa con el
                            resto de los participantes, donde reciben retroalimentación, y reflexiona sobre los
                            insights.</p>
                        <img class="card-img-top" src="../assets/images/life/grupo.jpg">
                        <br>
                    </div>
                    <br>
                </div>
            </div>
            <div id="contacto" class="card">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Detalles
                            del Workshop</button>
                    </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        • Los espacios simulados se adaptan a la mayoría de
                        ambientes fuera de UCAL. <br>
                        • Participan de 08 a 12 personas. <br>
                        • Puede ser una sesión de 4 ó 6 horas. <br>
                        • Se requiere de ½ hora para instalar el espacio si
                        es fuera de UCAL. <br>
                        • Incluye materiales para elaboración de Insights y prototipado.<br>
                        • Es facilitado por 1 especialista y 1 asistente. <img class="img-fluid" src="../assets/images/life/VR3.png" height="240px" alt="">
                        <br></div>
                    
                </div>
            </div>
            <div class="card" id="contacto">
                <div class="card-header" id="headingSeven">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseSeven" aria-expanded="false"
                            aria-controls="collapseSeven">Contacto</button>
                    </h2>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                    <div class="card-body">
                        <p> • Contacto: Deborah Plasencia</p>
                        <p> • Email: dplasencia@ucal.edu.pe</p>
                        <p> • Telf: (01) 622-2222 Anexo: 5522 </p>
                        <p> • Campus: Av. La Molina 3755. Lima, Perú.</p>
                        <img class="img-fluid" id="logo1" src="../assets/images/logos/ucal-texto-morado.png"
                            alt="">
                        <img class="img-fluid" id="logo2" src="../assets/images/logos/facultad-morado.png" alt="">
                    </div>
                </div>
            </div>
    </section>
    <!--End mobile version - Content-->
    <!--Desktop version - Content-->
    <section class="d-none d-lg-block d-xl-block">
        <div class="jumbotron">
            <div id="introjumbo">
                <h1 class="text-center">ELLA HA SIDO PRESENTADA COMO UN SER QUE NO ES Y CON ASPIRACIONES QUE NO
                    TIENE, LA HAN ENCERRADO EN UN CUADRO QUE PARECE NO TENER SALIDA.</h1>
                <br>
                <h1 class="text-center">TÚ PUEDES CAMBIAR ESO.</h1>
                <p class="text-center"></p>

            </div>

        </div>
    </section>
    <!--End Desktop version - Content-->
    <br>
    <section>
        <div class="btn-life " id="entrenar">
            <!--mobile-->
            <h2 class="text-center">Más experimentos</h2>
            <p class="text-center">Conoce más dando click en cada uno de ellos</p>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="scrollcards">
                    <div class="card">
                        <a id="morado" href="disruptores.html">
                            <img class="card-img-top" src="../assets/images/disruptores/afiche-disruptores-01.png">
                            <!--<div class="card-block">
                            <h4 href="disruptores.html" class="card-title">Card title</h4>
                            <p href="disruptores.html" class="card-text">Text Here</p>
                        </div>-->
                        </a>
                    </div>
                    <!--<div class="card">
                        <a id="morado" href="">
                            <img class="card-img-top" src="../assets/images/loncheras/afiches-landing_loncheras.jpg">
                            <div class="card-block">
                            <h4 href="loncheras.html" class="card-title">Card title</h4>
                            <p href="loncheras.html" class="card-text">Text Here</p>
                        </div>
                        </a>
                    </div>-->
                    <div class="card">
                        <a id="morado" href="estereotipa.html">
                            <img class="card-img-top"
                                src="../assets/images/estereotipa/afiches-landing_estereotipa.jpg">
                            <!--<div class="card-block">
                            <h4 href="estereotipa.html" class="card-title">Card title</h4>
                                <p href="estereotipa.html" class="card-text">Text Here</p>
                        </div>-->
                        </a>
                    </div>
                    <div class="card">
                        <a id="morado" href="futura.html">
                            <img class="card-img-top" src="../assets/images/futura/AFICHE FUTURA-IA1_opt.png">
                            <!--<div class="card-block">
                                <h4 href="futura.html" class="card-title">Card title</h4>
                                <p href="futura.html" class="card-text">Text Here</p>
                            </div>-->
                        </a>
                    </div>
                    <div class="card">
                        <a id="morado" href="life.html">
                            <img class="card-img-top" src="../assets/images/life/imagen-landing-final-06.png">
                            <!--<div class="card-block">
                            <h4 href="life.html" class="card-title">Card title</h4>
                            <p href="life.html" class="card-text">Text Here</p>
                        </div>-->
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br>
    <!-- Footer -->
    <footer class="page-footer fondo-tittle">
        <!-- Footer Elements -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-left">Contáctanos</h2>
                    <ul>
                        <li><a target="_blank"
                                href="https://www.facebook.com/Carrera-de-Marketing-e-Innovaci%C3%B3n-UCAL-227919864608288/"
                                data-toggle="tooltip" data-placement="top" title="Participa en Facebook"><i
                                    class="fab fa-facebook-square fa-2x"></i></a></li>
                        <li><a target="_blank" href="https://www.instagram.com/marketing.innovacion/"
                                data-toggle="tooltip" data-placement="top" title="Síguenos en Instagram"><i
                                    class="fab fa-instagram fa-2x"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">© 2019 Copyright: <a target="_blank"
                href="http://ucal.edu.pe/facultades/facultad-negocios-e-innovacion/marketing-e-innovacion/informacion-general">Marketing
                e Innovación</a>
        </div><!-- Copyright -->
    </footer><!-- Footer -->


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="../js/app.js"></script>
</body>

</html>