<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../assets/fonts/stylesheet.css">
    <title>Marketing e Innovación</title>
    <link rel="icon" href="../assets/icons/MEI@3x.ico">
</head>

<body>
    <!-- inicio de chatbot messenger-watson-->
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v3.2'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat" attribution=setup_tool page_id="227919864608288" theme_color="#862683"
        logged_in_greeting="Bienvenido a la Carrera de Marketing e Innovación. ¿Cómo te podemos ayudar?"
        logged_out_greeting="Bienvenido a la Carrera de Marketing e Innovación. ¿Cómo te podemos ayudar?">
    </div>
    <!--fin de chatbot messenger-watson-->

    <nav class="navbar navbar-light fixed-top">
        <div class="dropdown show">
            <a class="btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"><i class="fas fa-bars fa-lg"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#estudiamos">¿Cómo estudiamos acá?</a>
                <a class="dropdown-item" href="#crear">¿Qué vas a crear?</a>
                <a class="dropdown-item" href="#entrenar">¿Cómo vas a entrenar?</a>
                <a class="dropdown-item" href="#empresas">¿Con qué empresas puedes hacer proyectos?</a>
                <a class="dropdown-item" href="#ponencias">¿Qué ponencias tenemos?</a>
                <a class="dropdown-item" href="#profesores">¿Quiénes serán tus profesores?</a>
                <a class="dropdown-item" href="#aprender">¿Qué vas aprender?</a>
                <!-- <a class="dropdown-item" href="#aliados">¿Qué empresas son nuestros aliados?</a>-->
            </div>
        </div>
        <a id='logo1' href="../index.html"><img class='img-fluid' src="../assets/images/MEI.png" max-width="100%"
                height="auto" alt=""></a>

        <img class='img-fluid' id='logo2' src="../assets/images/logoucal-color.png" max-width="100%" height="auto"
            alt="">
    </nav>
    <section>
        <img class="img-fluid margen-top d-xl-none d-lg-none" src="../assets/images/afiches-landing_loncheras.jpg" alt="">
        <H2 class="text-center" id="morado"></H2>
        <br>
        <p class="text-center" id="morado">ELLA HA SIDO PRESENTADA COMO UN SER QUE NO ES Y CON ASPIRACIONES QUE NO
            TIENE, LA HAN ENCERRADO EN UN CUADRO QUE PARECE NO TENER SALIDA.</p>
        <br>
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">¿Qué es?</button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body">Es un workshop de deconstrucción de estereotipos de género en las
                        representaciones sociales y culturales con el fin de reflexionar sobre estos.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">¿Cómo nace La
                            Estereotipa</button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Nace de la necesidad de evidenciar un problema de violencia contra la mujer en la publicidad
                            de diferentes medios.</p>
                        <img src="../assets/images/logo-35-años.png" width="220px" alt="">
                        <p>Calandria es el socio estratégico para realizar y llevar a cabo el contenido de éste
                            workshop.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Objetivo de
                            La Estereotipa</button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">Se busca que los participantes reconozcan por medio de la publicidad
                        tradicional lo que se ha normalizado y que no aporta a la sociedad, con dicha información
                        propongan de manera creativa nuevas formas de publicidad.</div>
                </div>
            </div>
        </div>
        <div class="container-fluid ">
            <div class="row">
                <div class="col-sm-12 col-md-3 mt-3 ">
                    <div class="card">
                        <div class="card-horizontal">
                            <div class="img-square-wrapper">
                                <img class="" src="../assets/images/afiches-landing_estereotipa.jpg" width="150px"
                                    alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">¿Cómo nace La Estereotipa?</h4>
                                <p class="card-text">Nace de la necesidad de evidenciar un problema de violencia contra
                                    la mujer en la publicidad de diferentes medios.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid ">
            <div class="row">
                <div class="col-sm-12 col-md-3 mt-3 ">
                    <div class="card">
                        <div class="card-horizontal">
                            <div class="img-square-wrapper">
                                <img class="" src="../assets/images/afiches-landing_estereotipa.jpg" width="150px"
                                    alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">¿Cómo nace La Estereotipa?</h4>
                                <p class="card-text">Nace de la necesidad de evidenciar un problema de violencia contra
                                    la mujer en la publicidad de diferentes medios.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <section>
        <div class="fondo-tittle " id="entrenar">
            <!--mobile-->
            <h2 class="text-center">Más experimentos</h2>
            <p class="subtitulo text-center">Conoce más dando click en cada uno de ellos</p>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="scrollcards">
                    <div class="card">
                        <a id="morado" href="life.html">
                            <img class="card-img-top" src="../assets/images/afiches-landing-02.jpg">
                            <!--<div class="card-block">
                            <h4 href="life.html" class="card-title">Card title</h4>
                            <p href="life.html" class="card-text">Text Here</p>
                        </div>-->
                        </a>
                    </div>
                    <div class="card">
                        <a id="morado" href="disruptores.html">
                            <img class="card-img-top" src="../assets/images/Caja de juego Vista 3D.png">
                            <!--<div class="card-block">
                            <h4 href="disruptores.html" class="card-title">Card title</h4>
                            <p href="disruptores.html" class="card-text">Text Here</p>
                        </div>-->
                        </a>
                    </div>
                    <div class="card">
                        <a id="morado" href="futura.html">
                            <img class="card-img-top" src="../assets/images/afiches-landing-03.jpg">
                            <!--<div class="card-block">
                            <h4 href="futura.html" class="card-title">Card title</h4>
                            <p href="futura.html" class="card-text">Text Here</p>
                        </div>-->
                        </a>
                    </div>
                    <div class="card">
                        <a id="morado" href="estereotipa.html">
                            <img class="card-img-top" src="../assets/images/afiches-landing_estereotipa.jpg">
                            <!--<div class="card-block">
                            <h4 href="estereotipa.html" class="card-title">Card title</h4>
                            <p href="estereotipa.html" class="card-text">Text Here</p>
                        </div>-->
                        </a>
                    </div>
                    <div class="card">
                        <a id="morado" href="loncheras.html">
                            <img class="card-img-top" src="../assets/images/afiches-landing_loncheras.jpg">
                            <!--<div class="card-block">
                            <h4 href="loncheras.html" class="card-title">Card title</h4>
                            <p href="loncheras.html" class="card-text">Text Here</p>
                        </div>-->
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br>
    <!-- Footer -->
    <footer class="page-footer fondo-tittle">
        <!-- Footer Elements -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-left">Contáctanos</h2>
                    <ul>
                        <li><a target="_blank"
                                href="https://www.facebook.com/Carrera-de-Marketing-e-Innovaci%C3%B3n-UCAL-227919864608288/"
                                data-toggle="tooltip" data-placement="top" title="Participa en Facebook"><i
                                    class="fab fa-facebook-square fa-2x"></i></a></li>
                        <li><a target="_blank" href="https://www.instagram.com/marketing.innovacion/"
                                data-toggle="tooltip" data-placement="top" title="Síguenos en Instagram"><i
                                    class="fab fa-instagram fa-2x"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">© 2019 Copyright: <a target="_blank"
                href="http://ucal.edu.pe/facultades/facultad-negocios-e-innovacion/marketing-e-innovacion/informacion-general">Marketing
                e Innovación</a>
        </div><!-- Copyright -->
    </footer><!-- Footer -->


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="../js/app.js"></script>
</body>

</html>